appdirs==1.4.4
atomicwrites==1.4.0; sys_platform == "win32"
attrs==19.3.0
beautifulsoup4==4.9.3
cli-ui==0.10.3
colorama==0.4.4
contextlib2==0.6.0.post1
cssselect==1.1.0
deepl-scraper-pp==0.1.1
docopt==0.6.2
flake8==3.8.4
get-ppbrowser==0.1.2
google==3.0.0
grpcio==1.36.1
grpcio-reflection==1.36.1
grpcio-tools==1.36.1
importlib-metadata==3.7.2; python_version < "3.8"
linetimer==0.1.4
logzero==1.6.3
lxml==4.6.2
mccabe==0.6.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
portalocker==2.2.1
protobuf==3.15.6
py==1.10.0
pycodestyle==2.6.0
pydantic==1.8.1
pyee==7.0.4
pyflakes==2.2.0
pyparsing==2.4.7
pyppeteer2==0.2.2
pyquery==1.4.3
pysocks==1.7.1
pytest==5.4.3
pytest-asyncio==0.14.0
python-dotenv==0.15.0
pywin32==300; platform_system == "Windows"
schema==0.7.4
six==1.15.0
soupsieve==2.2; python_version >= "3.0"
tabulate==0.8.9
tbump==6.3.1
tomlkit==0.5.11
tqdm==4.59.0
typing-extensions==3.7.4.3
unidecode==1.2.0
urllib3==1.26.3
wcwidth==0.2.5
websockets==8.1
zipp==3.4.1; python_version < "3.8"
